body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: whitesmoke;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
}

header {
  background-color: rgb(0, 218, 98);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: flex;
}

header nav a {
  margin: 0 16px;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
  font-size: 20px;
}

header nav a:hover {
  color: gold;
}

.footer {
  background-color: rgb(0, 218, 98);
  color: white;
  padding: 20px;
  text-align: left;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 200px;
  text-align: center;
}

.footer-section h3 {
  margin-bottom: 10px;
  text-decoration: underline;
}

.footer-section p,
.footer-section ul {
  margin: 5px 0;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section a {
  color: blue;
  text-decoration: none;
  font-size: 15px;
}


.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}



main {
  padding: 16px;
  margin-bottom: 60px;
}



.home-container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: rgb(214, 205, 205);
}

.hero-section {
  padding: 100px 20px;
  background: rgb(60, 179, 113);
  color: white;
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  max-width: 800px;
}

.home-title {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: bold;
}

.home-description {
  font-size: 24px;
  margin-bottom: 30px;
}

.cta-button {
  background-color: white;
  color: rgb(60, 179, 113);
  border: 2px solid rgb(60, 179, 113);
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.cta-button:hover {
  background-color: rgb(137, 179, 60);
  color: white;
}

.features-section,
.how-it-works,
.testimonials,
.cta-section {
  padding: 60px 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 30px 0;
}

.features-section h2,
.how-it-works h2,
.testimonials h2,
.cta-section h2 {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.features,
.steps {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.feature,
.step {
  max-width: 300px;
}

.feature h3,
.step h3 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

.feature p,
.step p,
.testimonial p {
  font-size: 16px;
  color: dimgray;
}

.feature-icon,
.step-icon {
  margin-bottom: 15px;
  color: rgb(60, 179, 113);
  font-size: 50px;
}

.testimonials {
  text-align: center;
}

.testimonial {
  max-width: 600px;
  margin: 0 auto 20px;
  font-size: 20px;
  color: dimgray;
}

.cta-section {
  background-color:rgb(60, 179, 113);
  color: white;
  padding: 60px 20px;
  border-radius: 8px;
  text-align: center;
}

.cta-section h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.cta-section p {
  font-size: 20px;
  margin-bottom: 30px;
}

.testimonial-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.schedule-page {
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 1800px;
  margin: 0 auto;
}

.schedule-header {
  text-align: center;
  margin-bottom: 20px;
}

.schedule-header h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.schedule-header p {
  font-size: 16px;
  color: gray;
}

.info-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 100%;
}

.guidelines,
.tips {
  flex: 1;
  margin: 0 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

.guidelines h2,
.tips h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.form-container {
  text-align: center;
  margin: 40px 0;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.form-container input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.form-container button {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.form-container button:hover {
  background-color: rgb(137, 179, 60);
}

.sessions-list h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.sessions-list ul {
  list-style-type: none;
  padding: 0;
}

.sessions-list li {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.sessions-list h3 {
  margin: 0 0 5px;
}

.sessions-list p {
  margin: 5px 0;
  color: gray;
}


.progress-page {
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.progress-header {
  text-align: center;
  margin-bottom: 20px;
}

.progress-header h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.progress-header p {
  font-size: 16px;
  color: gray;
}

.completed-sessions,
.upcoming-sessions,
.motivation {
  margin-bottom: 40px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.completed-sessions h2,
.upcoming-sessions h2,
.motivation h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.completed-sessions ul,
.upcoming-sessions ul {
  list-style-type: none;
  padding: 0;
}

.completed-sessions li,
.upcoming-sessions li {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.completed-sessions h3,
.upcoming-sessions h3 {
  margin: 0 0 5px;
}

.completed-sessions p,
.upcoming-sessions p {
  margin: 5px 0;
  color: gray;
}

.motivation {
  text-align: center;
}

.motivation blockquote {
  font-style: italic;
  margin: 10px 0;
  color: #555;
}



.group-page {
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.group-header {
  text-align: center;
  margin-bottom: 20px;
}

.group-header h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.group-header p {
  font-size: 16px;
  color: gray;
}

.why-join {
  margin: 30px 0;
}

.why-join h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.importance-section {
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.importance-section h3 {
  margin: 0 0 5px;
  font-size: 20px;
}

.importance-section p {
  font-size: 14px;
  color: gray;
}

.form-container {
  margin-bottom: 30px;
}

.form-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.form-container input,
.form-container textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.form-container button {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.form-container button:hover {
  background-color: rgb(137, 179, 60);
}

.groups-list h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.groups-list ul {
  list-style-type: none;
  padding: 0;
}

.groups-list li {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.groups-list h3 {
  margin: 0 0 5px;
}

.groups-list p {
  margin: 5px 0;
  color: gray;
}

.join-button {
  padding: 5px 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.join-button:hover {
  background-color: darkblue;
}



.collaboration-page {
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.collaboration-header {
  text-align: center;
  margin-bottom: 20px;
}

.collaboration-header h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.collaboration-header p {
  font-size: 16px;
  color: gray;
}

.benefits {
  margin: 30px 0;
}

.benefits h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.benefit-section {
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.benefit-section h3 {
  margin: 0 0 5px;
  font-size: 20px;
}

.benefit-section p {
  font-size: 14px;
  color: gray;
}

.form-container {
  margin-bottom: 30px;
}

.form-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.form-container input,
.form-container textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.form-container button {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.form-container button:hover {
  background-color:rgb(137, 179, 60);
}

.collaborations-list h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.collaborations-list ul {
  list-style-type: none;
  padding: 0;
}

.collaborations-list li {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.collaborations-list h3 {
  margin: 0 0 5px;
}

.collaborations-list p {
  margin: 5px 0;
  color: gray;
}

.join-button {
  padding: 5px 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.join-button:hover {
  background-color: darkblue;
}



.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./pages/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-container h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.login-container input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.login-container button:hover {
  background-color: rgb(137, 179, 60);
}

.signup-link {
  margin-top: 20px;
}

.signup-link p {
  font-size: 15px;
}

.signup-link a {
  color: blue;
  text-decoration: none;
  font-size: 14px;
}

.signup-link a:hover {
  text-decoration: underline;
}


.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url('./pages/images/background4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.register-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.register-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.register-container input {
  display: block;
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.register-container button {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.register-container button:hover {
  background-color: rgb(137, 179, 60);
}

.login-link {
  margin-top: 10px;
}

.login-link p {
  font-size: 15px;
  color: gray;
}

.login-link a {
  color: blue;
  text-decoration: none;
  font-size: 14px;
}

.login-link a:hover {
  text-decoration: underline;
}